<h3>{{viewTitle}}</h3>
<form action="/employee/file_upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="UploadFile" />
</form>
<form action="/employee" method="POST" autocomplete="on" enctype="multipart/form-data">
    <div class="form-group">
        <input hidden type='text' name='_id' value={{employee._id}}>
        <label>Name *</style></label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Salary *</label>
            <input type="number" class="form-control" name="salary" placeholder="salary" value="{{employee.salary}}">
            <div class="text-danger">
                {{employee.salaryError}}</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>DOB *</label>
            <input type="date" class="form-control" name="dob" placeholder="dob" value="{{employee.dob}}">
            <div class="text-danger">
                {{employee.dobError}}</div>
        </div>
    </div>
    <div class="form-row">
                <div class="form-group col-md-6">

        <label>Photo</label><br>
        <input type="file" name="file" />
        <br>
        </div>
    
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Skills *</label>
            <fieldset>
                <input type="checkbox" {{this.skills.python}} name="python" value="checked">
                <label for="python">Python</label><br>
                <input type="checkbox" {{this.skills.NodeJS}} name="NodeJS" value="checked">
                <label for="NodeJS">NodeJS</label><br>
                <input type="checkbox" {{this.skills.Angular}} name="Angular" value="checked">
                <label for="Angular">Angular</label><br>
                <input type="checkbox" {{this.skills.R}} name="R" value="checked">
                <label for="R">R</label><br>
                <input type="checkbox" {{this.skills.Javascript}} name="Javascript" value="checked">
                <label for="Javascript">Javascript</label><br>
                <input type="checkbox" {{this.skills.HTML}} name="HTML" value="checked">
                <label for="HTML">HTML</label><br>
                <input type="checkbox" {{this.skills.CSS}} name="CSS" value="checked">
                <label for="CSS">CSS</label><br>
                <input type="checkbox" {{this.skills.Java}} name="Java" value="checked">
                <label for="Java">Java</label><br>
                <input type="checkbox" {{this.skills.React}} name="React" value="checked">
                <label for="React">React</label><br>
                <input type="checkbox" {{this.skills.Kotlin}} name="Kotlin" value="checked">
                <label for="Kotlin">Kotlin</label><br>
                <br>
            </fieldset>
            <div class="text-danger">
                {{employee.skillsError}}</div>
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success" name='info' value={{bttn}}>{{bttn}}</button>
        <a class="btn btn-dark" href="/employee/list"> View All <i class="fa fa-chevron-right"></i></a>
        <a {{del}} class="btn btn-danger" href="/employee/delete/{{employee._id}}"
            onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
    </div>
</form>