<h3> Employee List </h3>
<p style="text-align: right;"><a class="btn btn-success" href="/employee"><i class="fa fa-plus"></i> Create New</a></p>
<form action='/employee/list' method="POST" autocomplete="on">
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <input type='text' name='search' placeholder='Search by Name'>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Search</button>
                </td>
            </tr>
        </table>
    </div>
</form>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Salary</th>
            <th>Skills</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.fullName}}</td>
            <td>{{this.dob}}</td>
            <td>{{this.salary}}</td>
            <td>
               <p {{this.skills.python}}>Python</p>
               <p {{this.skills.NodeJS}} >NodeJS</p>
               <p {{this.skills.Angular}}>Angular</p>
               <a {{this.skills.R}}>R</a>
               <p {{this.skills.Javascript}}>Javascript</p>
               <p {{this.skills.HTML}}>HTML</p>
               <p {{this.skills.CSS}}>CSS</p>
               <p {{this.skills.Java}}>Java</p>
               <p {{this.skills.React}}>React</p>
               <p {{this.skills.Kotlin}}>Kotlin</p>

                </td>
            <td>
                {{this.photo}}</td>
            <td>
                <p style="text-align: right;">
                    <a class="btn btn-primary" name='uid' value={{this._id}} href="/employee/{{this._id}}">Edit</a>
                    <a class="btn btn-danger" href="/employee/delete/{{this._id}}"
                        onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
                </p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<form action='/employee/list' method="POST">
    <nav aria-label="...">
        <ul class="pagination" style="text-align: center;">

            <button name='info' value=1 type="submit" class="btn btn-primary">
                <li class="page-item">
                    First Page </li>
            </button>

            {{#each pages}}
            <button name='info' value={{this.item}} type="submit" class="btn btn-primary">
                <li class="page-item">
                    {{this.item}}
                </li>
            </button>
            {{/each}}
                        <button name='info' value={{pages.length}} type="submit" class="btn btn-primary">
                <li class="page-item">
                    Last Page </li>
            </button>
        </ul>
    </nav>
</form>